@use "./_variable";

html,
body {
  max-width: 100vw;
  color: white;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #efefef;
  border-radius: 100px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  // background: var(--priceboard-bg);
}